<html>
  <head>
    <style>
      img {
        width: 100%;
        height: 100%;
      }

      .notification {
        position: absolute;
        z-index: 100;
        background-color: red;
        color: white;
        width: 100px;
        height: 20px;
      }
    </style>
  </head>
  <body>
    <img src="runescape.png" />
    <div class="notification" style="left: {{map_x}}px; top: {{map_y}};"></div>
  </body>
</html>
